/**fonts can be inported throught links**/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/** Selectors **/
/**applies to everything i.e universal selector **/ 
/** it is used for css reset**/
*{
    font-family: 'Roboto';
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{ 
    font-size: 20px;
}
body{
    font-size: 22px;
    border: 3px solid black;
    line-height: 1.5;
    background-color: rgb(56, 85, 85);
    color: darksalmon;
}
/**important override everyother selector**/
#second{
    font-family: monospace !important;
}

/**class**/
.highlight{
    text-transform: uppercase;
    background-color: gold;   
}

.gray {
    color: gray;
}
/**id**/
#second {
    font-style: italic;
}

button, input, textarea, select{
    font: inherit;
}

h1 {
    color: blue;
}

p {
    color: rgba(red, green, blue, 2 alpha);
    
}

/**Unit or values or sizes**/
p{ 
    border: 2px dashed red;
    font-size: 1.2rem;
    width: 40ch;
}
h1{
    width: 50%;
    font-size: 2em;
    padding: 1em;
}
/**boxmodel**/

.box{
    color: white;
    background-color: white;
    border: 10px  double blueviolet ; 
    padding: 2rem 1rem 1rem 2rem;
    margin: 2rem 1.5rem 2rem 1.5rem;
    border-bottom: 5px solid chocolate;
    outline: 5px solid violet;
    outline-offset: -20px;
}
/**typography : is the way that text is arranged and presented**/
h3{
    color: rgb(0, 230, 247);
    text-align: center;
    font-size: 2rem;
    
}
.typo{
    border: none;
    margin-left: 2rem;
    font-size: 1.8rem;  
    text-decoration: underline;
    text-transform: capitalize;
    text-align: justify;
    text-indent: 1em;
    line-height: 1.0;
    letter-spacing: 0.1rem;
    word-spacing: 0.5rem;
    font-weight: bolder;
    font-style: italic;
    }

    /* input,button,label{
    font-size: 1.8rem;

    } */

/**CSS LINKS**/
/**sudo classes are arrange sensitive and need to be arranged correctly**/
a{
    text-decoration: none;
    text-align: justify;
    cursor: pointer;
    color: rgb(116, 116, 216);
}
a:visited{
    color: purple;
}
a:hover,a:focus{
    color: rgb(116, 116, 216,0.8);
}
a:active{
    color: chartreuse;
}

/**list styling**/
main{ 
    font-family: monospace !important;
    padding: 1% 5%;
}
ol{
    list-style-type: decimal-leading-zero;
    padding: 0%;
}
ul{
    list-style-type: square;
    text-align: center;
    list-style-position: inside;
    color: black;
    line-height: 1.6;
/*     list-style-image: url("/ForntEND-learning/images/icons8-check-48.png");
 */}
ul li{
    color: darkgoldenrod;
}
ul li:nth-child(odd){
    color: black;
}
ul ::marker{
   
    color: seashell;
    font-family: fantasy;
    font-size: 1em;
    content: "ONly 100rs>>  ";
     
}