/**fonts can be inported throught links**/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/** Selectors **/
/**applies to everything i.e universal selector **/ 
/** it is used for css reset**/
*{
    font-family: 'Roboto';
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{ 
    font-size: 20px;
}
body{
    font-size: 22px;
    border: 3px solid black;
    line-height: 1.5;
    background-color: rgb(56, 85, 85);
    color: darksalmon;
}
/**important override everyother selector**/
#second{
    font-family: monospace !important;
}

/**class**/
.highlight{
    text-transform: uppercase;
    background-color: gold;   
}

.gray {
    color: gray;
}
/**id**/
#second {
    font-style: italic;
}

button, input, textarea, select{
    font: inherit;
}

h1 {
    color: blue;
}

p {
    color: rgba(red, green, blue, 2 alpha);
    
}

/**Unit or values or sizes**/
/* p{ 
    border: 2px dashed red;
    font-size: 1.2rem;
    width: 40ch;
} */
h1{
    width: 50%;
    font-size: 2em;
    padding: 1em;
}
/**boxmodel**/

 .boxing{
    color: rgb(179, 36, 36);
    background-color: rgb(123, 248, 179);
    border: 10px  double blueviolet ; 
    padding: 2rem 1rem 1rem 2rem;
    margin: 2rem 1.5rem 2rem 1.5rem;
    border-bottom: 5px solid chocolate;
    outline: 5px solid violet;
    outline-offset: -20px;
}
/**typography : is the way that text is arranged and presented**/
h3{
    color: rgb(0, 230, 247);
    text-align: center;
    font-size: 2rem;
    
}
.typo{
    border: none;
    margin-left: 2rem;
    font-size: 1.8rem;  
    text-decoration: underline;
    text-transform: capitalize;
    text-align: justify;
    text-indent: 1em;
    line-height: 1.0;
    letter-spacing: 0.1rem;
    word-spacing: 0.5rem;
    font-weight: bolder;
    font-style: italic;
    }

    /* input,button,label{
    font-size: 1.8rem;

    } */

/**CSS LINKS**/
/**sudo classes are arrange sensitive and need to be arranged correctly**/
a{
    text-decoration: none;
    text-align: justify;
    cursor: pointer;
    color: rgb(116, 116, 216);
}
a:visited{
    color: purple;
}
a:hover,a:focus{
    color: rgb(116, 116, 216,0.8);
}
a:active{
    color: chartreuse;
}

/**list styling**/
main{ 
    font-family: monospace !important;
    padding: 1% 5%;
}
ol{
    list-style-type: decimal-leading-zero;
    padding: 0%;
}
ul{
    list-style-type: square;
    text-align: center;
    list-style-position: inside;
    color: black;
    line-height: 1.6;
/*     list-style-image: url("/ForntEND-learning/images/icons8-check-48.png");
 */}
ul li{
    color: darkgoldenrod;
}
ul li:nth-child(odd){
    color: black;
}
ul ::marker{
   
    color: seashell;
    font-family: fantasy;
    font-size: 1em;
    content: "ONly 100rs>>  ";
     
}
li a:hover{
    text-decoration: underline;
}

/**display prop**/
.opposite{
    /* display: none; */
    list-style-type: none;
    text-align: right;
    background-color: black;
    color: blue;
    padding: 0.5rem;
    
}
.disp{
    display: inline-block;
    margin: 0.5rem;
}

/**float**/
.block{
    width: 30vw;
    height: 30vw;
    background-color: azure;
    color: brown;
    padding: 1rem;
}
.left{
    float:left
}
.right{
    float:right
}
.clear{
    clear: both;
}
section{
    background-color: bisque;
    border: 1px solid forestgreen;
    padding: 1rem;
    display: flow-root;
}
.float{
    border: none;
    width: auto;
    
}

/** columns**/
.columns{
    /* column-count: 4;
    column-width: 250px; */
    columns: 4 250px;
    column-rule: 3px solid #333;
    column-gap: 3rem;
}
.columns p{
    margin-top: 0;
}
.columns h2{
    margin-top: 0;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    break-inside: avoid;
    break-before: column;
}
.qoute{
    border: none;
    width: auto;
    font-size: 3rem;
    text-align: center;
    color: #333;
    column-span: all;
}
.nowrap{
    white-space: nowrap;
}

/**position**/
.outer-container{
    border: 3px dashed #333;
    width: 75vw;
    height: 85vh ;
    margin: 40px auto;
    position: relative;
}
.inner-container{
    border: 2px solid #00f;
    width: 40vw;
    height: 50vh;
    margin: 200px auto;
}
.box{
    width: 150px;
    height: 150px;
    padding: 1rem;
}
.absolute{
    background-color: #00f;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.relative{
    background-color: red;
    position: relative;
    top: 200px;
    left: 200px;
}
.fixed{
    background-color: green;
    position: fixed;
    top: 138px;
    left: 50px;
}
.sticky{
    background-color: black;
    position: sticky;
    top: 0;
}
/**flexbox**/
.container{
    max-width: 800px;
    min-height: 400px;
    padding: 20px;
    border: 1px solid #000;
    margin-inline: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    align-items: center;
   /*  flex-direction:row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
}
.boxs{
    height: 100px;
    background-color: black;
    color: #fff;
    font-size: 2rem;
    padding: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: 100px;
    flex-shrink: 1;
    /**we can also write 
    flex: 1 1 100; here 1 grow 1 shrink 100px basis **/
}
/**ONP**/
.ONP{
    text-align: center;
    font-size: 2rem;
}
